<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd">
    <% include ../common/nav.html %>  
    <div class="g-mn">
        <div class="g-mnc"> 
            <div class ="m-app" id ="app">
            </div>  
        </div>
    </div>
</div>
<script id="main" type="text/regular">
    <div id="basic" class="m-form" r-class={{'f-dn':tab ===1}}>
            <div class="fmgroup">
                <table>
                    <tr class="nick">
                        <th>用户名：</th>
                        <td>
                            {#if edit == 0}
                            <input class="u-ipt" type="text" id="userName" name="userName" r-model={userName}>
                            {#else}
                                {userName}
                            {/if}
                        </td>
                    </tr>
                     <tr class="nick">
                        <th>密码：</th>
                        <td>
                            <input class="u-ipt" type="text" id="userPwd" name="userPwd" r-model={userPwd}>
                        </td>
                    </tr>
                    <tr class="nick">
                        <th>昵称：</th>
                        <td>
                            <input class="u-ipt" type="text" id="nickName" name="nickName" r-model={nickName}>
                        </td>
                    </tr>
                    <tr class="nick">
                        <th>用户类型：</th>
                        <td>
                            {#if admin ==1}
                                <select id="userType" name="userType"  r-model={userType}>
                                    <option value="0">管理员</option>
                                </select>
                            {#else}
                            <select id="userType" name="userType"  r-model={userType}>
                                <option value="2">学生</option>
                                <option value="1">教师</option>
                            </select>
                            {/if}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fmgroup">
                <div class="btnarea">
                    <a class="u-btn j-save edit"  on-click={this.saveUser()}>保存</a>
                    <a class="u-btn" href="/userManage">返回</a>
                </div>
            </div>
        </div>
</script>
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>admin/edit.js"></script>
</body>
</html>