<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd">
    <% include ../common/nav.html %>  
    <div class="g-mn">
        <div class="g-mnc"> 
            <div class ="m-app" id ="app">
            </div>  
        </div>
    </div>
</div>
<script id="main" type="text/regular">
    <div id="basic" class="m-form" r-class={{'f-dn':tab ===1}}>
            <div class="fmgroup">
                <table>
                    <tr class="nick">
                        <th>用户名：</th>
                        <td>
                            <input class="u-ipt" type="text" name="nick" r-model={questions.name}>
                        </td>
                    </tr>
                     <tr class="nick">
                        <th>密码：</th>
                        <td>
                            <input class="u-ipt" type="text" name="nick" r-model={questions.name}>
                        </td>
                    </tr>
                    <tr class="nick">
                        <th>昵称：</th>
                        <td>
                            <input class="u-ipt" type="text" name="nick" r-model={questions.name}>
                        </td>
                    </tr>
                    <tr class="nick">
                        <th>用户类型</th>
                        <td>
                            <select name="level"  r-model={questions.type}>
                                <option value="1">{1|transType}</option>
                                <option value="2">{2|transType}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fmgroup">
                <div class="btnarea">
                    <a class="u-btn j-save edit" r-class={{'f-dn':edit ===false}} on-click={this.saveBank()}>保存</a>
                    <a class="u-btn" href="/qBank">返回</a>
                </div>
            </div>
        </div>
</script>
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>admin/edit.js"></script>
</body>
</html>