<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd f-cb">
    <% include ../common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc m-app">
                <div class="m-status">
                   <a class="u-btn" href="/add">新增用户</a>
                </div>
                <div class="m-list f-mgT" id="container"> 
                  <div class="head">
                    <div class="headwrap">
                        <div class="col col-p2">操作</div>
                        <div class="col col-p2">类型</div>
                        <div class="col col-p2">昵称</div>
                        <div class="col col-at">用户名</div>
                    </div>
                  </div>
                <ul class="list j-list">
                </ul>
                <div class="m-page j-page"></div>
            </div>
        </div>
    </div>
</div>
<!-- @TEMPLATE -->
<textarea name="jst" id="jst-list" style="display: none">

<li class="item">
  <div class="col col-p2"><a class="j-modify">修改</a>&nbsp;&nbsp;<a  class="j-del">删除</a> </div>
    <div class="col col-p2">${type|getUserType}</div>
    <div class="col col-p2">${name}</div>
    <div class="col col-at">${username}</div>
</li>

</textarea>
<!-- /@TEMPLATE -->
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>admin/main.js"></script>
</body>
</html>