<% include ./common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>题目列表啦</title>
  <% include ./common/css.html %>
</head>
<body>
<% include ./common/head.html %>
<div class="g-bd f-cb">
    <% include ./common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc">
				我知道对有什么不对
				我知道将军说的话不一定对
				我知道对或错我自己能分辨
				请你安静点 请你安静点
				我知道对有什么不对
				我知道外国的月亮没比较圆
				我知道 yo yo yo
				不是我的语言
				请你安静点 请你安静点
            </div>
        </div>
    </div>
</div>
</body>
</html>