<% include ./common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <% include ./common/css.html %>
</head>
<body>
<% include ./common/head.html %>
<div class="g-bd f-cb">
    <% include ./common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc m-app" id="container">

            </div>
        </div>
    </div>
</div>
<script src="<%=jsRoot%>lib/highcharts.js"></script>
<script type="text/javascript">
  chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'container',
            type: 'column'
         },
         title: {
            text: '学生答题预览'
         },
         xAxis: {
            categories: ['1月', '2月', '3月', '4月', '5月', '6月']
         },
         yAxis: {
            title: {
               text: '答题正确率'
            }
         },
         series: [{
            name: '学生最高成绩',
            data: [6, 8, 7,7,8,9]
         }, {
            name: '学生平均成绩',
            data: [5, 6, 5,5,7,6]
         }]
      });
</script>
</body>
</html>