.g-bd{zoom:1;}
.g-bd:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
html,body{width:100%;height:100%;}
.g-sd{float:left;margin-right:-180px;width:180px;-webkit-box-shadow:inset 0px -14px 2px #333;box-shadow:inset 0px -14px 2px #333;}
.g-mn{z-index:0;width:100%;float:right;background-color:#383838;}
.g-mnc{min-height:100%;padding:20px;margin-left:180px;background:#f1f1f1;}
.g-ft{padding:20px;border-top:1px solid #ddd;background:#fff;}
.g-sd2{position:absolute;right:0;top:0;width:190px;margin-left:-190px;}
.g-mn2{float:left;width:100%;position:relative;}
.g-mn2 .g-mnc2{margin-right:200px;min-width:180px;}
.g-doc{padding:0 20px 0 0;}
