.m-hd2,.m-search,.m-list .list .item,.m-list-msg .wrap,.m-bar,.m-upload,.m-uparea .topbar,.m-form .iptwrap{zoom:1;}
.m-hd2:after,.m-search:after,.m-list .list .item:after,.m-list-msg .wrap:after,.m-bar:after,.m-upload:after,.m-uparea .topbar:after,.m-form .iptwrap:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-nav{margin-top:-11px;background:#fff;}
.m-nav li{position:relative;}
.m-nav li a,.m-nav li .text{display:block;padding-left:60px;height:32px;line-height:32px;}
.m-nav li a{color:#666;}
.m-nav li.itm{margin-top:10px;}
.m-nav li.group{padding-top:10px;margin-top:10px;border-top:1px dashed #eee;color:#999;}
.m-nav li .u-ticon{display:inline-block;*display:inline;*zoom:1;color:#444;font-size:16px;width:22px;text-align:center;margin-left:-32px;margin-right:10px;vertical-align:middle;}
.m-nav li a:hover{background:#f2f2f2;}
.m-nav li.z-cur{background:#f2f2f2;}
.m-nav li.z-cur:before{content:"";position:absolute;left:0;width:10px;height:32px;background-color:#85bdaa;}
.m-nav li.z-cur a:hover{cursor:default;}
.m-nav li.z-cur .u-ticon:before{color:#00b58a;}
.m-nav li.itm:nth-last-child(2){border-top:1px dashed #eee;padding-top:10px;}
.m-nav1{overflow:hidden;border-top-left-radius:5px;}
.m-nav1 li{position:relative;height:40px;line-height:40px;border-style:solid;border-width:0 0 1px 0;border-color:#f8f8f8;background-color:#f8f8f8;}
.m-nav1 li a{display:block;padding-left:35px;}
.m-nav1 li a .opts{display:none;position:absolute;right:10px;top:50%;margin-top:-5px;}
.m-nav1 li a .opts i{float:left;margin-left:10px;}
.m-nav1 li a:hover{background:#e8e8e8;border-color:#e8e8e8;}
.m-nav1 li a:hover .opts{display:block;}
.m-nav1 li.z-cur{z-index:2;border-color:#ddd;}
.m-nav1 li.z-cur a,.m-nav1 li.z-cur a:hover{background:#fff;}
.m-nav1 .optbar{padding:20px;background:#f8f8f8;}
.m-subnav ul{float:left;}
.m-subnav li{position:relative;float:left;}
.m-subnav li a{float:left;padding:0 20px;text-align:center;background:#fff;color:#666;border-bottom:4px solid #fff;}
.m-subnav li a:hover{background:#fbfbfb;border-color:#fbfbfb;}
.m-subnav li.z-cur a{position:relative;background:#fbfbfb;border-color:#7cafdb;}
.m-subnav li.z-cur a:hover{cursor:default;}
.m-subnav .tip{float:right;font-size:12px;color:#999;}
.m-quickbtn{padding:20px;color:#999;}
.m-quickbtn .tlt{padding:10px 0;border-bottom:1px solid #ddd;}
.m-quickbtn .btns{padding:10px 0;}
.m-quickbtn .btns .u-btn{margin:10px 0 0;display:block;padding:0 10px;}
.m-quickbtn .btns .u-btn *{vertical-align:middle;}
.m-quickbtn .btns .u-btn .u-ticon{font-size:16px;margin-right:10px;}
.m-contact{position:absolute;bottom:20px;padding:20px;line-height:20px;color:#999;}
.m-contact .tlt{padding:10px 0;border-bottom:1px solid #ddd;}
.m-contact .wrap{padding:20px 0;font-size:12px;}
.m-contact a{color:#999;}
.m-contact a:hover{color:#7cafdb;}
.m-logo{float:left;}
.m-logo a,.m-logo .lg{display:block;width:240px;height:68px;text-indent:-9999px;overflow:hidden;border-right:1px solid #00b58a;}
.m-logo.easy a,.m-logo.easy .lg{border:0;width:290px;border-left:0px;background-position:20px 14px;}
.m-ft{width:960px;margin:0 auto;text-align:center;line-height:20px;color:#666;font-size:12px;zoom:1;}
.m-ft:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-ft .link{float:left;}
.m-ft .link i{margin:0 10px;color:#cecece;font-family:simsun;}
.m-ft .rights{float:right;}
.m-ft a{color:#999;}
.m-ft a:hover{text-decoration:underline;}
.m-account{width:179px;height:68px;position:absolute;right:0;top:0;z-index:100;border-left:1px solid #f2f2f2;}
.m-account.easy{width:auto;border-left:0px;}
.m-account .email{margin-right:10px;line-height:50px;}
.m-account .wrap{display:block;padding:9px 20px;height:50px;position:relative;}
.m-account .wrap a{color:#999;}
.m-account .wrap .newnt{position:absolute;left:37px;top:20px;font-size:12px;color:#f45300;}
.m-account .wrap .newnt:hover{color:#f45300;}
.m-account .nick{margin:0 15px;display:inline-block;*display:inline;*zoom:1;}
.m-account .avatar{width:50px;height:50px;-moz-border-radius:50%;border-radius:50%;}
.m-account .reg{display:block;height:68px;line-height:60px;background:#fff;}
.m-account .reg a{margin-left:5px;}
.m-account .u-ticon{position:relative;font-size:18px;}
.m-account .u-ticon:hover{color:#4a4a4a;}
.m-account .u-ticon.z-hasnew:after{content:"\f172";position:absolute;font-size:12px;color:#f00;top:2px;right:-5px;}
.m-account .logout{font-size:12px;}
.m-account .logout:hover{color:#4a4a4a;}
.m-hd{font-size:16px;}
.m-hd .sep{margin:0 10px;color:#ddd;font-size:40px;font-family:"simsun",arial;vertical-align:middle;}
.m-hd .subcontent{margin-top:10px;font-size:14px;}
.m-hd .m-search{float:right;}
.m-hd h1{color:#999;}
.m-hd h1 a:hover{text-decoration:underline;}
.m-hd .btn{margin-top:15px;}
.m-hd .tip{font-size:12px;color:#999;}
.m-hd-1,.m-hd-2,.m-hd-3{border-color:#bab09e;font-size:16px;background:#fcf8e3;}
.m-hd-1 .close,.m-hd-2 .close,.m-hd-3 .close{float:right;font:bold 16px/21px "simsun",arial;cursor:pointer;}
.m-hd-2{height:auto;line-height:23px;font-size:14px;}
.m-hd-3{height:auto;}
.m-hd-3 h1{font-size:20px;margin-bottom:14px;color:#666;}
.m-hd-3 ul p{font-size:14px;}
.m-hd-3 ul li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;list-style:disc;list-style-position:inside;color:#666;}
.m-hd-at{height:auto;min-height:21px;}
.m-hd-g{border-color:#acc7c5;background:#d1f2eb;}
.m-hd-msg{position:absolute;top:0;left:0;display:none;}
.m-hd-msg.z-show{display:block;-webkit-animation:opacityshow 0.3s;-moz-animation:opacityshow 0.3s;animation:opacityshow 0.3s;}
.m-hd2{margin:0 0 13px;line-height:26px;}
.m-hd2 h2{float:left;}
.m-hd2 .m-page{float:right;margin:2px 0 0;}
.m-search{display:block;position:relative;margin-top:-12px;}
.m-search select,.m-search input{float:left;border:1px solid #ccc;}
.m-search select{margin-right:-1px;background:#f5f5f5;}
.m-search input{width:170px;padding:12px 55px 12px 10px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;font:12px/16px arial,"simsun";color:#666;background:#f7f7f7;border:none;line-height:1.3;height:16px;}
.m-search button{position:absolute;top:0;right:0;border:0;width:45px;height:40px;cursor:pointer;background:none;background-color:#bdc2ca;color:#fff;}
.m-search .z-placeholder-parent{position:relative;display:block;}
.m-search .z-placeholder{font:12px/16px arial,"simsun";padding:12px 55px 12px 10px;}
.m-list .col{position:relative;float:right;padding:0 10px;min-height:10px;}
.m-list .col-lt{float:left;}
.m-list .col-at{float:none;overflow:hidden;}
.m-list .col-w1{width:100px;}
.m-list .col-w2{width:55px;}
.m-list .col-w3{width:175px;}
.m-list .col-w4{width:80px;}
.m-list .col-w5{width:110px;}
.m-list .col-w6{width:90px;}
.m-list .col-w7{width:75px;}
.m-list .col-w8{width:150px;}
.m-list .col-w9{width:220px;}
.m-list .col-w10{width:30px;}
.m-list .col-w11{width:160px;}
.m-list .col-w12{width:120px;}
.m-list .head{overflow:hidden;border-top:1px solid #ccc;margin:0 0 10px;}
.m-list .head .headwrap{margin-left:-1px;}
.m-list .head .col{padding-top:10px;}
.m-list .head .col:before{position:absolute;top:0;left:0;width:1px;height:9px;content:"";background:#ccc;}
.m-list .list{line-height:1.8;}
.m-list .list .item{position:relative;padding:20px 0;border-top:1px solid #ddd;}
.m-list .list .item:first-child{border-top:0;}
.m-list .list .item:hover{z-index:4;background:#f8f8f8;}
.m-list .list .item.z-hover{z-index:5;}
.m-list .list .item-1{padding:15px 0;}
.m-list .list .u-ticon{color:#999;font-size:18px;margin-right:10px;}
.m-list .list .u-ticon:hover{color:#333;}
.m-list-contact .name,.m-list-contact .remark{white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-list-contact .col-lt{z-index:2;}
.m-list-contact .user{position:relative;z-index:2;padding-left:32px;}
.m-list-contact .user input[type=checkbox]{position:absolute;top:50%;left:0;margin-top:-6px;}
.m-list-contact .remark,.m-list-contact .uid{font-size:12px;}
.m-list-contact .oitem{float:left;margin-left:8px;}
.m-list-contact .oitem:first-child{margin-left:0;}
.m-list-msg li:hover .oprate{display:block;}
.m-list-msg li.self:hover{z-index:3;background:none;}
.m-list-msg li.self:hover .oprate{display:none;}
.m-list-msg .col-w1 .user{position:relative;z-index:2;padding-left:32px;}
.m-list-msg .col-w1 .user input[type=checkbox]{position:absolute;top:50%;left:0;margin-top:-6px;}
.m-list-msg .col-w1 .user.single{padding-left:0;}
.m-list-msg .col-lt{z-index:2;}
.m-list-msg .name{margin:0 0 5px;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-list-msg .time{font-size:12px;color:#666;}
.m-list-msg .cnt{font-size:12px;line-height:1.5;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-list-msg .user{position:relative;z-index:2;}
.m-list-msg .oprate{display:none;}
.m-list-msg .oitem{float:right;margin-right:5px;}
.m-list-msg .oitem:first-child{margin-right:0;}
.m-list-msg .reply{position:relative;overflow:hidden;}
.m-list-msg .replycnt{margin-top:-150px;opacity:0;height:130px;padding:10px;background-color:#f7f7f7;word-wrap:break-word;word-break:break-all;-webkit-transition:0.5s;-moz-transition:0.5s;transition:0.5s;}
.m-list-msg .replycnt h5{margin:0 0 5px;}
.m-list-msg .replycnt .btnarea{padding-top:5px;text-align:right;}
.m-list-msg .replycnt .u-btn{margin-right:15px;}
.m-list-msg .replycnt .close{position:relative;display:inline-block;padding:0 40px;height:32px;line-height:32px;border-radius:3px;text-decoration:none;text-align:center;vertical-align:middle;cursor:pointer;border:1px solid #d8d8d8;color:#000;}
.m-list-msg .reply-show .replycnt{margin-top:20px;opacity:1;}
.m-list-msg .u-video .play .player-area{width:340px;height:246px;}
.m-bar{margin-bottom:40px;padding:10px;border:1px solid #ddd;font-size:12px;line-height:26px;background:#f5f5f5;}
.m-bar input,.m-bar select{vertical-align:middle;}
.m-bar .selall{margin-right:20px;}
.m-bar .selall input{margin:-2px 10px 0 0;}
.m-bar .groups label{margin-right:5px;}
.m-bar .groups select{margin-right:5px;}
.m-bar .u-date{position:relative;display:inline-block;}
.m-bar .refresh{float:right;}
div.m-page{line-height:22px;margin:20px 0;text-align:right;line-height:20px;font-size:0;word-wrap:normal;white-space:nowrap;font-family:arial,"simsun";color:#999;}
div.m-page a{letter-spacing:-0.307em;}
div.m-page span + a{border-left:1px solid #ddd;}
div.m-page .zdot{width:20px;height:20px;line-height:16px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
div.m-page a,div.m-page .zdot{position:relative;display:inline-block;*display:inline;*zoom:1;margin:0;font-size:12px;letter-spacing:normal;vertical-align:middle;}
div.m-page a{border:1px solid #ddd;color:#999;border-left:none;text-align:center;padding:0px;width:21px;height:20px;line-height:20px;}
div.m-page a:hover{color:#666;}
div.m-page a.js-selected,div.m-page a.js-selected:hover{cursor:default;color:#fff;background:#78d0c2;border-color:#78d0c2;}
div.m-page a.zbtn{font-family:"simsun",arial;color:#999;background:#ddd;}
div.m-page a.zbtn:hover{background:#aaa;border-color:#aaa;color:#fff;}
div.m-page a.zbtn.js-disabled,div.m-page a.zbtn.js-disabled:hover{cursor:default;color:#999;border-color:#ddd;background:#fff;}
div.m-page a.zbtn.zprv{border-left:1px solid #ddd;}
div.m-page >div{-webkit-animation:opacityshow 0.5s;-moz-animation:opacityshow 0.5s;animation:opacityshow 0.5s;}
div.m-page .search{display:inline-block;margin-left:20px;}
div.m-page .search .u-ipt{display:inline-block;width:26px;margin:0 4px;padding:4px 4px;vertical-align:middle;height:12px;font-size:12px;text-align:center;}
.m-twgrid{margin-left:-20px;}
.m-twgrid .gditm{float:left;width:33.333%;}
.m-twgrid .gditm .tw-wrap{margin-left:20px;}
.m-tw{line-height:1.4;border:1px solid #ddd;background:#fff;}
.m-tw .cnt{display:block;padding:8px 20px 15px;position:relative;z-index:100;}
.m-tw .cnt .z-sel{display:none;}
.m-tw .cnt .title{padding:5px 0;font-size:16px;color:#222;font-weight:bold;letter-spacing:1px;white-space:normal;word-wrap:break-word;word-break:break-all;max-height:52px;line-height:26px;overflow:hidden;}
.m-tw .cnt .subtitle{white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-tw .cnt .date{font-size:12px;color:#666;}
.m-tw .cnt .abstract{color:#666;white-space:normal;word-wrap:break-word;word-break:break-all;max-height:58px;overflow:hidden;}
.m-tw .cnt .imgwrap{margin:10px 0;max-height:165px;overflow:hidden;background:#eee;}
.m-tw .cnt .imgwrap .cover{display:block;width:100%;}
.m-tw a:hover{color:#666;}
.m-tw-0{padding-bottom:0px;}
.m-tw-0-edit .imgwrap{height:165px;}
.m-tw-1 .imgwrap{position:relative;}
.m-tw-1 .title{position:absolute;left:0;bottom:0;right:0;padding:4px 0;background-color:#000;background-color:rgba(0,0,0,0.6);filter:alpha(opacity = 60) \9;}
.m-tw-1 .title a,.m-tw-1 .title span{display:block;padding:0 5px;color:#fff;font-weight:normal;}
.m-tw-1 .title:hover{background-color:#000;background-color:rgba(0,0,0,0.45);filter:alpha(opacity = 45) \9;text-decoration:none;}
.m-tw-1 .atlt{display:block;max-height:52px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.m-tw-1 .item{padding:10px 0;border-top:1px solid #ddd;}
.m-tw-1 .item p{margin-left:70px;height:55px;overflow:hidden;font-size:18px;}
.m-tw-1 .item p a:hover{color:#666;}
.m-tw-1 .item .atlt{font-size:12px;line-height:22px;max-height:44px;}
.m-tw-1 .thumb{float:left;width:48px;height:48px;background:#eee;}
.m-tw-1-edit{border:0;border-radius:0;background:none;}
.m-tw-1-edit ul{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:#4993c3;background:rgba(41,128,185,0.85);}
.m-tw-1-edit li{position:relative;float:left;width:50%;height:100%;}
.m-tw-1-edit li a{display:block;width:100%;height:100%;margin:0;}
.m-tw-1-edit li a:hover{background:#2980b9;background:rgba(41,128,185,0.85);}
.m-tw-1-edit li .u-icn{position:absolute;top:50%;left:50%;margin:-14px;}
.m-tw-1-edit .cnt{position:relative;border:1px solid #ddd;border-bottom-width:3px;border-radius:5px;padding-bottom:10px;background:#fff;}
.m-tw-1-edit .imgwrap{height:165px;}
.m-tw-1-edit .imgwrap:hover ul{display:block;}
.m-tw-1-edit .imgwrap li{width:100%;}
.m-tw-1-edit .imgwrap .title{padding:4px 5px;color:#fff;font-weight:normal;}
.m-tw-1-edit .item{position:relative;}
.m-tw-1-edit .item:hover ul{display:block;}
.m-tw-1-edit .add{margin-top:-3px;border:2px dotted #ddd;border-top:0;border-radius:0 0 5px 5px;background:#fff;}
.m-tw-1-edit .add a{display:block;line-height:70px;text-align:center;font-size:18px;}
.m-tw-1-edit .add .u-icn{margin:-2px 15px 0 0;}
.m-act{font-size:12px;background:#fff;outline:1px solid #ddd;}
.m-act .cnt{padding:15px;max-width:290px;position:relative;z-index:100;}
.m-act .cnt .z-sel{display:none;}
.m-act .time{font-size:12px;color:#666;}
.m-act .detail{margin:10px 0 20px;}
.m-act .detail img{float:left;margin-right:15px;width:120px;height:120px;border:1px solid #ddd;background-color:#f5f5f5;}
.m-act .subtitle{display:block;line-height:24px;font-size:16px;color:#222;white-space:normal;word-wrap:break-word;word-break:break-all;margin-left:135px;max-height:48px;overflow:hidden;}
.m-act .subtitle a{color:#222;}
.m-act .subtitle a:hover{color:#666;}
.m-act .interval{margin-top:10px;color:#666;font-size:12px;margin-left:135px;}
.m-act .mask{display:none;}
.m-act .u-operate{display:none;}
.m-act-edit{margin:0;}
.m-vote{border:1px solid #ddd;font-size:12px;background:#fff;}
.m-vote .cnt{padding:15px 20px;width:297px;position:relative;z-index:100;}
.m-vote .cnt .z-sel{display:none;}
.m-vote .time{font-size:12px;color:#666;}
.m-vote .detail{margin:10px 0 20px;}
.m-vote .detail img{float:left;margin-right:15px;width:120px;height:120px;border:1px solid #ddd;background-color:#f5f5f5;}
.m-vote .title{display:block;line-height:24px;font-size:16px;color:#222;white-space:normal;word-wrap:break-word;word-break:break-all;margin-left:137px;}
.m-vote .title a{color:#222;}
.m-vote .title a:hover{color:#666;}
.m-vote .interval{margin-top:10px;color:#666;font-size:12px;margin-left:137px;}
.m-vote .mask{display:none;}
.m-vote .u-operate{display:none;}
.m-famaitm{border:1px solid #ddd;font-size:12px;background:#fff;}
.m-famaitm .cnt{padding:15px 20px;width:297px;position:relative;z-index:100;}
.m-famaitm .cnt .z-sel{display:none;}
.m-famaitm .time{font-size:12px;color:#666;}
.m-famaitm .detail{margin:10px 0 20px;}
.m-famaitm .subtitle{display:block;line-height:24px;height:48px;font-size:16px;color:#222;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-famaitm .subtitle a{color:#222;}
.m-famaitm .subtitle a:hover{color:#666;}
.m-famaitm .interval{margin-top:10px;color:#666;font-size:12px;}
.m-famaitm .mask{display:none;}
.m-famaitm .u-operate{display:none;}
.m-interview{border:1px solid #ddd;font-size:12px;background:#fff;}
.m-interview .cnt{padding:15px 20px;width:297px;position:relative;z-index:100;}
.m-interview .cnt .z-sel{display:none;}
.m-interview .time{font-size:12px;color:#666;}
.m-interview .detail{margin:10px 0 20px;}
.m-interview .detail img{float:left;margin-right:15px;width:120px;height:120px;border:1px solid #ddd;background-color:#f5f5f5;}
.m-interview .title{display:block;line-height:24px;font-size:16px;color:#222;white-space:normal;word-wrap:break-word;word-break:break-all;margin-left:137px;}
.m-interview .title a{color:#222;}
.m-interview .title a:hover{color:#666;}
.m-interview .interval{margin-top:10px;color:#666;font-size:12px;margin-left:137px;}
.m-interview .mask{display:none;}
.m-interview .u-operate{display:none;}
.m-tw .cnt,.m-act .cnt,.m-vote .cnt,.m-interview .cnt,.m-famaitm .cnt{position:relative;}
.m-tw .mid,.m-act .mid,.m-vote .mid,.m-interview .mid,.m-famaitm .mid{position:absolute;right:20px;top:-10px;padding:2px 5px;line-height:18px;font-size:12px;color:#999;background:#fff;}
.m-tw .mid .u-ticon,.m-act .mid .u-ticon,.m-vote .mid .u-ticon,.m-interview .mid .u-ticon,.m-famaitm .mid .u-ticon{cursor:pointer;color:#7cafdb;}
.m-emtrig{zoom:1;}
.m-emtrig:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-emtrig .emotwrap,.m-emtrig .count{float:left;}
.m-emtrig .count{padding-left:15px;color:#999;line-height:32px;font-family:simsun;font-size:12px;}
.m-emtrig .u-ticon{font-size:28px;color:#ccc;cursor:pointer;}
.m-msgbox{position:relative;border:1px solid #ddd;border-radius:4px;}
.m-msgbox .replybox{display:none;}
.m-msgbox .box .u-mtxt{padding:20px;}
.m-msgbox .box .mediaarea{display:none;width:100%;min-height:350px;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;}
.m-msgbox .box .mediaarea .m-act,.m-msgbox .box .mediaarea .m-famaitm,.m-msgbox .box .mediaarea .m-vote,.m-msgbox .box .mediaarea .m-interview{width:337px;}
.m-msgbox .box .mediaarea .tw-wrap{width:339px;}
.m-msgbox .box .mediaarea .tw-wrap .imgwrap{width:300px;}
.m-msgbox .box .mediaarea .u-ticon{display:none;}
.m-msgbox .m-emtrig{position:absolute;bottom:15px;left:20px;}
.m-msgbox .opt,.m-msgbox .opt1{padding:15px 0;margin:0 20px;text-align:right;border-top:1px solid #ddd;}
.m-msgbox .opt .u-btn,.m-msgbox .opt1 .u-btn{margin-left:10px;}
.m-msgbox .opt1{display:none;}
.m-msgbox .u-expression{padding-left:15px;color:#2e7dc6;}
.m-msgbox-1 .opt{display:none;}
.m-msgbox-1 .opt1{display:block;}
.m-msgbox-2 .box,.m-msgbox-2 .m-emtrig{display:none;}
.m-msgbox-2 .replybox{display:block;position:relative;}
.m-msgbox-2 .replyitems{min-height:400px;padding-bottom:20px;}
.m-msgbox-2 .replyitems li:last-child{border:0;}
.m-msgbox-2 .u-limit{position:absolute;bottom:-30px;right:0;}
.m-msgbox-2 .sendall{float:left;color:#999;font-size:12px;}
.m-msgbox-2 .sendall input{margin-right:5px;}
.m-msgbox-cm{border:none;}
.m-msgbox-cm .opt,.m-msgbox-cm .replyitems .index,.m-msgbox-cm .u-limit{display:none;}
.m-msgbox-cm .replyitems{min-height:200px;}
.m-crumb{overflow:hidden;line-height:1.5;zoom:1;}
.m-crumb ul{margin-left:-20px;}
.m-crumb li{float:left;word-wrap:normal;white-space:nowrap;}
.m-crumb li i{display:inline-block;*display:inline;*zoom:1;width:20px;text-align:center;font-size:12px;color:#ccc;font-family:\5b8b\4f53;}
.m-crumb.m-crumb-blank ul{margin-left:-10px;}
.m-crumb.m-crumb-blank li{display:inline;margin-left:10px;}
.m-tab{position:relative;border-bottom:1px solid #ddd;overflow:hidden;}
.m-tab li{position:relative;float:left;*display:inline;width:8%;min-width:70px;}
.m-tab li a{padding:10px 0px;float:left;width:100%;text-decoration:none;color:#666;text-align:center;}
.m-tab li a:hover{background:#f4f5f6;}
.m-tab li a .u-ticon{font-size:24px;}
.m-tab li a *{vertical-align:middle;}
.m-tab li:first-child a{border-top-left-radius:4px;}
.m-tab li b.tt{display:block;line-height:20px;color:#999;font-size:12px;}
.m-tab li.z-crt a{position:relative;cursor:default;background:#f4f5f6;}
.m-tab li.z-crt a .u-ticon{color:#00b58a;}
.m-item{padding:10px;color:#666;font-size:12px;cursor:pointer;}
.m-item:hover{background:#f8f8f8;}
.m-item .media{float:left;}
.m-item .media .name{margin-bottom:5px;height:20px;line-height:20px;}
.m-item .media .name>span{display:block;width:500px;height:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.m-item .size{float:right;width:150px;text-align:left;line-height:20px;}
.m-item .size span{float:left;width:50%;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.m-mlist .m-item{border-bottom:1px solid #ccc;position:relative;}
.m-mlist-1 .radio,.m-mlist-1 .checkbox{float:left;width:20px;padding:0 3px;}
.m-upload,.m-uparea .topbar{margin:0 0 20px;padding:5px;min-height:26px;line-height:26px;border:1px solid #ddd;font-size:12px;background:#f5f5f5;}
.m-upload .upload,.m-uparea .topbar .upload{float:left;}
.m-upload .limit,.m-uparea .topbar .limit{float:right;padding-right:5px;font-family:arial,"simsun";color:#999;}
.m-upload .image,.m-uparea .topbar .image{position:relative;margin-top:7px;padding:12px;border-top:1px solid #ddd;background:#fff;line-height:1.14;}
.m-upload .image *,.m-uparea .topbar .image *{vertical-align:bottom;}
.m-upload .image img,.m-uparea .topbar .image img{width:180px;}
.m-upload .image .delimg,.m-uparea .topbar .image .delimg{position:absolute;top:12px;left:200px;color:#7cafdb;padding-left:20px;line-height:20px;}
.m-upload .image .delimg:before,.m-uparea .topbar .image .delimg:before{position:absolute;top:2px;left:2px;font-size:14px;}
div.m-mask{background-color:#000;opacity:0.6;filter:alpha(opacity = 60);z-index:900;-webkit-animation:mask 0.3s both;-moz-animation:mask 0.3s both;animation:mask 0.3s both;}
div.m-mask-material{z-index:1000;}
@-webkit-keyframes mask{0%{opacity:0;}
100%{opacity:0.6;}
}
@-moz-keyframes mask{0%{opacity:0;}
100%{opacity:0.6;}
}
@-ms-keyframes mask{0%{opacity:0;}
100%{opacity:0.6;}
}
@-o-keyframes mask{0%{opacity:0;}
100%{opacity:0.6;}
}
@keyframes mask{0%{opacity:0;}
100%{opacity:0.6;}
}
@-webkit-keyframes layer{0%{-webkit-transform:translateY(-100px);opacity:0;}
100%{-webkit-transform:translateY(0);opacity:1;}
}
@-moz-keyframes layer{0%{-moz-transform:translateY(-100px);opacity:0;}
100%{-moz-transform:translateY(0);opacity:1;}
}
@-ms-keyframes layer{0%{-ms-transform:translateY(-100px);opacity:0;}
100%{-ms-transform:translateY(0);opacity:1;}
}
@-o-keyframes layer{0%{-o-transform:translateY(-100px);opacity:0;}
100%{-o-transform:translateY(0);opacity:1;}
}
@keyframes layer{0%{transform:translateY(-100px);opacity:0;}
100%{transform:translateY(0);opacity:1;}
}
div.m-layer{width:240px;border:0;background:#fff;-webkit-animation:layer 0.3s both cubic-bezier(0,0.5,0,1);-moz-animation:layer 0.3s both cubic-bezier(0,0.5,0,1);animation:layer 0.3s both cubic-bezier(0,0.5,0,1);}
div.m-layer .zbar{height:45px;line-height:45px;border:0;background:#eee;cursor:move;}
div.m-layer .zttl{height:45px;padding:0 0 0 20px;margin-right:44px;border-right:1px solid #c5c5c5;}
div.m-layer .zcnt{padding:20px;background:#fff;}
div.m-layer .zcls{top:0;right:0;width:44px;height:44px;text-align:center;font:bold 14px/44px "simsun",arial;text-shadow:0 1px #fff;}
div.m-layer .lybt{padding:20px 0 5px;text-align:center;position:relative;}
div.m-layer .lybt .btn{min-width:45px;margin-left:30px;}
div.m-layer .lybt .btn:first-child{margin-left:0;}
div.m-layer .lybt .countTip{position:absolute;right:50%;margin-right:125px;margin-top:7px;}
div.m-layer .lybt .count{color:#00b58a;}
div.m-layer-1{width:480px;}
div.m-layer-link{width:420px;z-index:1100;}
div.m-layer-link .zcnt{padding:10px 10px 0;}
div.m-layer-link .u-row{margin-bottom:20px;}
div.m-layer-link.z-norow .u-row{display:none;}
div.m-layer-link .u-edit{border:1px solid #ddd;background:#fff;box-shadow:0 0;}
div.m-layer-link .u-edit .u-title{color:#666;border-right:1px solid #ddd;padding:0 8px;border-bottom:0;}
div.m-layer-link .u-edit .ipt{color:#666;width:300px;padding:0 5px;}
div.m-layer-link .u-error{padding-top:5px;}
div.m-layer-link .btn{text-align:center;margin:30px auto 0;width:150px;}
div.m-layer-link .btn a{position:relative;display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 20px;height:32px;font:12px/32px arial,"simsun";border:0;border-radius:3px;color:#fff;text-decoration:none;text-align:center;vertical-align:middle;cursor:pointer;background:#00b58a;}
div.m-layer-link .btn a::-moz-focus-inner{padding:0;margin:0;border:0;}
div.m-layer-link .btn a:hover{color:#fff;text-decoration:none;background:#0c9;}
div.m-layer-link .btn a:active{background:#009a75;}
div.m-layer-link .btn .slave{background:#bdc3c7;margin-left:15px;}
div.m-layer-link .btn .slave:hover{background:#ccc;color:#666;}
div.m-layer-link .btn .slave:active{background:#aab3b8;color:#fff;}
@media (max-width: 768px){div.m-layer-confirm{width:72%;}
}
div.m-layer-confirm .zttl{font-weight:bold;}
div.m-layer-confirm .zcnt{text-align:center;}
div.m-layer-confirm .zcnt .u-btn{width:120px;margin-bottom:12px;}
@media (max-width: 768px){div.m-layer-confirm .zcnt .u-btn{width:80%;font-size:14px;}
}
div.m-layer-vf{width:300px;}
div.m-layer-vf .zttl{color:#f00;}
div.m-layer-sm{width:764px;z-index:1100;}
div.m-layer-sm .zcnt{width:724px;overflow-x:hidden;}
div.m-layer-sm .zcnt .m-mlist,div.m-layer-sm .zcnt .listwrap{height:500px;overflow:auto;position:relative;}
div.m-layer-sm .zcnt .listwrap{margin-left:-20px;}
div.m-layer-sm .zcnt .listwrap .tw-wrap,div.m-layer-sm .zcnt .listwrap .m-act,div.m-layer-sm .zcnt .listwrap .m-famaitm,div.m-layer-sm .zcnt .listwrap .m-vote,div.m-layer-sm .zcnt .listwrap .m-interview{margin-left:20px;display:inline-block;*display:inline;*zoom:1;vertical-align:top;}
div.m-layer-sm .newwrap .u-btn{margin:0 5px;}
div.m-layer-sm .m-tw,div.m-layer-sm .m-act,div.m-layer-sm .m-vote,div.m-layer-sm .m-famaitm,div.m-layer-sm .m-interview{display:block;position:relative;float:left;width:337px;padding:0;margin:15px 0;cursor:pointer;}
div.m-layer-sm .m-tw .mask,div.m-layer-sm .m-act .mask,div.m-layer-sm .m-vote .mask,div.m-layer-sm .m-famaitm .mask,div.m-layer-sm .m-interview .mask{position:absolute;z-index:200;top:-5px;left:-5px;right:-5px;bottom:-5px;background:rgba(0,0,0,0);}
div.m-layer-sm .m-tw .mid .u-ticon,div.m-layer-sm .m-act .mid .u-ticon,div.m-layer-sm .m-vote .mid .u-ticon,div.m-layer-sm .m-famaitm .mid .u-ticon,div.m-layer-sm .m-interview .mid .u-ticon{display:none;}
div.m-layer-sm .m-tw .z-sel,div.m-layer-sm .m-act .z-sel,div.m-layer-sm .m-vote .z-sel,div.m-layer-sm .m-famaitm .z-sel,div.m-layer-sm .m-interview .z-sel{display:none;position:absolute;right:-9px;top:-9px;width:30px;height:30px;overflow:hidden;text-indent:-20000px;background-position:1px -734px;}
div.m-layer-sm .m-tw.z-cur .z-sel,div.m-layer-sm .m-act.z-cur .z-sel,div.m-layer-sm .m-vote.z-cur .z-sel,div.m-layer-sm .m-famaitm.z-cur .z-sel,div.m-layer-sm .m-interview.z-cur .z-sel{display:block;}
div.m-layer-sm .m-tip{position:absolute;left:90px;top:15px;color:#999;}
.m-layer-sp{width:380px;padding:0 20px;}
.m-layer-sp .lyct{height:80px;}
.m-layer-sp h3{margin-top:20px;}
.m-layer-sp .hint{color:#aaa;}
div.m-layer-lg{width:800px;}
div.m-layer-md{width:500px;}
div.m-layer-tn{width:400px;}
.m-prompt p{color:#666;line-height:18px;font-size:12px;}
.m-prompt .item{position:relative;margin:10px 0 3px;}
.m-prompt .item .lab{position:absolute;left:10px;top:9px;z-index:0;color:#ccc;font-size:12px;font-family:arial,"simsun";}
.m-prompt .item .u-ipt{position:relative;z-index:1;background:transparent;}
.m-prompt .item .lab1{display:block;padding:0 0 5px;}
.m-prompt .u-err{color:#f00;font-size:12px;}
.m-prompt-2 p{color:#999;}
.m-importWin .item .lab{color:#666;display:inline-block;*display:inline;*zoom:1;margin-right:10px;}
.m-importWin div.err{margin-top:-15px;}
div.m-tipWin{width:400px;}
div.m-tipWin .lyct{line-height:20px;color:#666;}
div.m-tipWin .lyct .tipwrap .tipitm{margin:0 0 15px;}
div.m-tipWin .lyct .tipwrap span{font-weight:bold;}
div.m-tipWin .lyct .selwrap .lab{margin-left:3px;}
div.m-textWin{width:400px;}
div.m-textWin .tt{display:block;height:150px;padding:5px;width:100%;box-sizing:border-box;border:1px solid #ddd;}
div.m-textWin .m-emtrig{padding:5px 0;height:35px;}
.m-emot{position:absolute;z-index:9999;width:525px;margin:6px 0 0 -4px;}
.m-emot .emotwrap{border:1px solid #ddd;padding:5px;}
.m-emot .emot{background:#fff url("/res/emoji/emoji.png") no-repeat;}
.m-emot .u-emot{float:left;margin:3px 0 0 3px;cursor:pointer;}
.m-emot .arr{position:absolute;top:-6px;left:14px;font:14px/14px arial,"simsun";cursor:default;}
.m-emot .arr i{position:absolute;top:0;left:0;}
.m-emot .arr .bd{color:#ddd;}
.m-emot .arr .bg{top:1px;color:#fff;}
.m-rule .cnt .namebar{line-height:32px;height:34px;padding:5px 15px 6px;border-bottom:1px solid #ddd;background-color:#f5f5f5;}
.m-rule .cnt .namebar .lab{font-weight:bold;}
.m-rule .cnt .namebar .u-ipt{margin:0 10px;}
.m-rule .cnt .rulebox{background:#fff;}
.m-rule .cnt .rulebox .keyword{float:left;width:39%;}
.m-rule .cnt .rulebox .keyword .bd li:nth-child(2n-1){background-color:#f8f8f8;}
.m-rule .cnt .rulebox .keyword .bd li{border-bottom:1px solid #ddd\9;*border-bottom:0;}
.m-rule .cnt .rulebox .keyword .hd{position:relative;height:40px;line-height:40px;padding:0 15px;border-bottom:2px solid #ddd;}
.m-rule .cnt .rulebox .keyword .hd h4{font-weight:normal;}
.m-rule .cnt .rulebox .keyword .hd .selall{margin-right:100px;line-height:34px;}
.m-rule .cnt .rulebox .keyword .hd .selall *{vertical-align:middle;}
.m-rule .cnt .rulebox .keyword .bd{height:380px;width:100%;overflow-y:auto;overflow-x:hidden;border-top:1px solid #fff;}
.m-rule .cnt .rulebox .keyword .optbar{position:absolute;right:15px;top:5px;line-height:26px;}
.m-rule .cnt .rulebox .content{margin-left:39%;position:relative;border-left:1px solid #ddd;}
.m-rule .cnt .rulebox .content .m-reply{border:0;}
.m-rule .cnt .rulebox .content .msgbox{position:absolute;right:-1px;bottom:-61px;overflow:hidden;z-index:100;}
.m-rule .cnt .opt{padding:14px 0;text-align:center;background-color:#f5f5f5;border-top:1px solid #ddd;}
.m-rule .cnt .opt a{margin:0 5px;min-width:50px;}
.m-reply{background:#fff;border:1px solid #ddd;}
.m-reply .replycnt{position:relative;}
.m-reply .replycnt .hd{position:relative;height:40px;line-height:40px;padding:0 15px;border-bottom:2px solid #ddd;background:#f5f5f5;}
.m-reply .replycnt .hd h4{font-weight:normal;}
.m-reply .replycnt .hd .selall{margin-right:100px;line-height:34px;}
.m-reply .replycnt .hd .selall *{vertical-align:middle;}
.m-reply .replycnt .bd{height:380px;width:100%;overflow-y:auto;overflow-x:hidden;border-top:1px solid #fff;}
.m-reply .replycnt .optbar{position:absolute;right:15px;top:5px;line-height:26px;}
.m-reply .replycnt .msgbox{position:absolute;right:-1px;bottom:-61px;overflow:hidden;z-index:100;}
.m-reply .btopt{padding:14px 0;text-align:center;background-color:#f5f5f5;border-top:1px solid #ddd;}
.m-reply .btopt a{margin:0 5px;min-width:50px;}
.m-singleTitle{background:#fafafa;}
.m-singleTitle h1{padding:20px 25px;line-height:20px;font-size:16px;background:#f5f5f5;margin-top:16px;}
.m-status{border-color:#bdbdbd;overflow:hidden;}
.m-status h1{padding:20px 25px;line-height:20px;font-size:16px;background:#f5f5f5;margin-top:16px;}
.m-status .wrap{padding:48px;}
.m-status .icn{float:left;width:350px;height:230px;background:url("/res/image/status.png") no-repeat;}
.m-status .icn-1{background-position:center 0;}
.m-status .icn-2{background-position:center -256px;}
.m-status .icn-3{background-position:center -539px;}
.m-status .icn-4{background-position:center -821px;}
.m-status .cnt{overflow:hidden;}
.m-status h2{margin:0 0 30px;font-size:18px;}
.m-status p,.m-status ul{line-height:2;color:#666;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-status p{margin:30px 0;}
.m-status ul{margin:50px 0;}
.m-status .btnarea{margin:50px 0 0;}
.m-status-error{border:0;}
.m-status-error .code{margin-right:30px;font-size:72px;color:#ddd;}
.m-status-error .icn-3{margin-top:15px;}
.m-form .fmgroup{padding:40px 0 20px 26px;border-top:4px solid #ddd;}
.m-form .fmgroup:first-child{border-top:0;}
.m-form fieldset{margin:0 0 20px;padding:1px 0 0;}
.m-form legend{padding:0 0 20px;font-weight:bold;line-height:18px;}
.m-form .supply{margin:-43px 0 20px 175px;line-height:2;}
.m-form table{width:100%;}
.m-form th,.m-form td{padding:6px 0;}
.m-form th{width:176px;line-height:30px;vertical-align:top;}
.m-form select{margin-right:10px;}
.m-form input[type=checkbox],.m-form input[type=radio]{margin-right:5px;}
.m-form .tip{margin-left:30px;line-height:20px;color:#999;}
.m-form .btnarea{padding-top:20px;}
.m-form .btnarea .u-btn{margin-right:15px;}
.m-form .iptwrap .tip{float:left;}
.m-form .iptwrap-upload{padding-top:4px;}
.m-form .iptarea{float:left;width:270px;}
.m-form .sms .u-ipt{float:left;}
.m-form .sms .tip{float:left;line-height:16px;}
.m-form .sms a.z-disabled,.m-form .sms a.z-disabled:hover{color:#999;cursor:default;}
.m-form .ccaptcha img{vertical-align:middle;}
.m-form-up table .u-ipt{margin-right:12px;}
.m-form-up .fmgroup{padding-left:240px;}
.m-editor{position:relative;}
.m-editor .fmitem{margin:0 0 12px;}
.m-editor .fmitem .showcover{margin:-15px 0 20px;line-height:18px;color:#999;}
.m-editor .fmitem .showcover .lab{display:inline-block;*display:inline;*zoom:1;margin:0 0 0 5px;}
.m-editor .fmitem-btns{margin-top:25px;}
.m-editor .fmitem-btns .u-btn{margin-right:20px;}
.m-editor label{display:block;margin:0 0 12px;}
.m-editor .editor{width:auto;min-height:330px;}
.m-editor .editor .zarea{height:300px;background:#fff;}
.m-editor .tip{float:right;color:#999;font-size:12px;}
.m-editor .date{position:relative;z-index:800;}
.m-editor .date .dp{left:0;}
.m-editor .arr{position:absolute;width:18px;height:36px;overflow:hidden;top:25px;left:-38px;font:36px/36px arial,"simsun";cursor:default;}
.m-editor .arr i{position:absolute;top:0;left:0;}
.m-editor .arr .bd{color:#ddd;}
.m-editor .arr .bg{left:1px;color:#fafafa;}
.m-fuploader{position:relative;}
.m-fuploader:hover .u-btn{background:#0c9;}
.m-fuploader.z-dis .container{top:-999px;}
.m-fuploader.z-dis .u-btn,.m-fuploader.z-dis .u-btn:active,.m-fuploader.z-dis .u-btn:hover{color:#eee;border-color:#bdbdbd;background-color:#bbb;cursor:not-allowed;}
.m-fuploader .trigger{z-index:1;width:86px;}
.m-fuploader .container{position:absolute;left:0px;top:0px;z-index:2;}
.m-fuploader .u-btn{height:26px;line-height:26px;padding:0 12px;}
.m-fuploader .u-btn .u-ticon{margin-right:5px;}
.m-smsSender .sendSms{display:none;}
.m-smsSender.z-actived .smsText{display:none;}
.m-smsSender.z-actived .sendSms{display:block;}
.m-table{table-layout:fixed;width:100%;line-height:1.5;}
.m-table caption{height:40px;margin:0 0 15px;line-height:40px;border-bottom:1px solid #ddd;}
.m-table caption .tt{font-size:16px;}
.m-table caption .atip{color:#999;font-size:12px;}
.m-table thead th,.m-table td{padding:10px;border:1px solid #ddd;vertical-align:top;}
.m-table thead th{padding:12px 10px;font-weight:bold;background:#f5f5f5;}
.m-table .cola{width:190px;}
.m-table .colb{width:130px;border-left:0;}
.m-table td.colc{font-size:12px;line-height:21px;}
.m-table .colc{border-right:0;}
.m-table .colc a{color:#09c;}
.m-table .colc a:hover{text-decoration:underline;}
.m-table td.chk{vertical-align:middle;text-align:center;}
.m-table .cold{width:50px;text-align:center;}
.m-table .cole{width:250px;vertical-align:middle;border-right:0;}
.m-table td.colf{padding:0;}
.m-table td.colf .txtwrap{position:relative;-webkit-transition:height 0.4s;-moz-transition:height 0.4s;transition:height 0.4s;}
.m-table td.colf .txtwrap .z-placeholder-parent{display:block;}
.m-table td.colf .txtwrap.z-show{height:70px;}
.m-table td.colf .txtwrap.z-show .u-mtxt{height:70px;}
.m-table td.colf .u-mtxt{position:absolute;left:0px;top:0px;background-color:transparent;font-size:12px;font-family:simsun;line-height:16px;height:41px;display:block;overflow:hidden;border:1px solid transparent;*width:96%;-webkit-transition:height 0.4s;-moz-transition:height 0.4s;transition:height 0.4s;}
.m-table td.colf .u-mtxt.z-focus{background-color:#fff;border-color:#74b9ef;-webkit-box-shadow:0 0 5px rgba(116,185,239,0.18);box-shadow:0 0 5px rgba(116,185,239,0.18);}
.m-table td.colf .z-placeholder{margin-left:10px;top:5px;}
.m-table .colg{width:90px;}
.m-table .colh{width:60px;border-left:1px solid #ddd;}
.m-table tr:nth-child(2n){background:#fcfcfc;}
.m-table tbody th{padding:5px;border:1px solid #ddd;vertical-align:middle;text-align:center;background:#fff;}
.m-table .stt{line-height:21px;font-size:12px;color:#999;}
.m-table tr.z-checked td{background-color:#edfbff;}
.m-uparea{zoom:1;margin-bottom:20px;border:1px solid #ddd;}
.m-uparea:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-uparea .tip{color:#999;float:left;margin-left:10px;font-family:arial,"simsun";}
.m-uparea .close{display:none;position:absolute;top:-10px;right:0px;font-weight:bold;font-family:arial;font-size:16px;line-height:32px;color:#bbb;text-shadow:0 1px #fff;cursor:pointer;}
.m-uparea .close:hover{color:#999;}
.m-uparea .close.bounceIn{display:block;}
.m-uparea-mult .tip{display:block;}
.m-uparea.z-end .progress .warn{color:#666;}
.m-uparea .progress-wrap{overflow:hidden;}
.m-uparea .topbar{z-index:10;border:none;margin:0;}
.m-uparea .progress{position:relative;padding:0px 15px;background-color:#fff;height:0px;opacity:0;overflow:hidden;-webkit-transition:height 0.3s cubic-bezier(0.77,0,0.175,1);-moz-transition:height 0.3s cubic-bezier(0.77,0,0.175,1);transition:height 0.3s cubic-bezier(0.77,0,0.175,1);}
.m-uparea .progress .topmsg{zoom:1;position:relative;margin-bottom:12px;}
.m-uparea .progress .topmsg:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-uparea .progress .text{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:absolute;right:20px;max-width:400px;line-height:20px;top:-2px;color:#999;}
.m-uparea .progress .warn{color:#f20d0d;}
.m-uparea .progress .btmsg{margin-top:12px;}
.m-uparea .progress .btmsg .u-ticon{color:#7cafdb;margin-left:2px;}
.m-uparea .progress .btmsg .info{display:inline-block;*display:inline;*zoom:1;margin-right:10px;position:relative;}
.m-uparea .progress .btmsg .num{color:#de7005;margin-left:2px;margin-right:2px;}
.m-uparea .progress .btmsg .info-success .num{color:#00b589;}
.m-uparea .progress.z-show{opacity:1;height:90px;padding-top:15px;}
.m-progress{height:10px;display:block;}
.m-progress .progress-inner-element{height:100%;width:100%;}
.m-progress .progress-bar{background-color:#f5f5f5;-webkit-box-shadow:inset 0px 1px 1px #ccc;box-shadow:inset 0px 1px 1px #ccc;height:100%;width:100%;overflow:hidden;border-radius:3px;}
.m-progress .progress-value{zoom:1;position:relative;overflow:hidden;overflow:hidden;height:100%;width:20%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.m-progress .progress-value:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-progress .progress-value .mask{position:absolute;width:100%;height:100%;top:0px;display:block;left:0px;z-index:1;background-color:transparent;background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);-webkit-animation:progress 2s linear infinite;-moz-animation:progress 2s linear infinite;animation:progress 2s linear infinite;background-size:30px 30px;}
.m-progress .progress-value .success,.m-progress .progress-value .error{float:left;display:inline-block;*display:inline;*zoom:1;padding:0;margin:0;height:100%;}
.m-progress .progress-value .success{background-color:#2980b9;width:100%;}
.m-progress .progress-value .error{width:0%;background-color:#c0392b;}
.m-progress.z-dis .progress-value .mask{-webkit-animation:none;-moz-animation:none;animation:none;}
.m-progress.z-dis .progress-value .success{background-color:#aaa;}
.m-htip{display:block;position:absolute;top:-6px;left:100%;width:200px;padding-left:16px;z-index:100;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-htip .tipwrap{position:relative;border:1px solid #ccc;box-shadow:0 4px 0 0 rgba(0,0,0,0.1);background:#fff;font-size:12px;line-height:1.6;}
.m-htip .tipwrap a{color:#3498db;}
.m-htip .tipwrap a:hover{text-decoration:underline;}
.m-htip .tipwrap .arr{position:absolute;top:12px;left:-8px;font:14px/14px arial,"simsun";cursor:default;}
.m-htip .tipwrap .arr i{position:absolute;top:0;left:0;}
.m-htip .tipwrap .arr .bd{color:#ccc;}
.m-htip .tipwrap .arr .bg{left:2px;color:#fff;}
.m-htip .tipwrap .tipgroup{margin:0 15px;padding:5px 0 10px;}
.m-htip .tipwrap .tipgroup-1{border-bottom:1px dashed #ddd;}
.m-htip .tipwrap .tipgroup-2{margin:0;padding:14px 18px;background:#f8f8f8;border-radius:0 0 5px 5px;}
.m-htip .tipwrap .tipgroup-2 select{width:100%;}
.m-htip .tipwrap .tipitem{padding:2px 3px;line-height:18px;}
.m-htip .tipwrap .tipitem-1{font-size:14px;}
.m-htip .tipwrap h3{color:#666;font-size:12px;with:140px;line-height:1.6;margin-bottom:10px;}
.m-htip .tipwrap p{color:#999;line-height:2;border-top:1px dotted #ddd;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.m-htip-tp{width:210px;}
.m-htip-tp .tipwrap .arr{top:-7px;right:39px;left:auto;}
.m-htip-tp .tipwrap .arr .tlt{font-size:14px;margin-bottom:10px;}
.m-htip-tp .tipwrap .arr .bg{top:1px;left:auto;}
.m-htip-1{width:245px;}
.m-htip-1 .content h2{font-size:14px;line-height:20px;}
.m-htip-1 .content .titm{border:none;}
.m-htip-1 .content .type{padding-top:10px;margin-top:10px;}
.m-htip-2{z-index:1200;padding-left:10px;}
.m-htip-2 .tipwrap{padding-top:5px;}
.m-htip-2 .tipwrap .tipgroup{margin:0 12px;}
body{-webkit-backface-visibility:hidden;}
.animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(0.3);}
50%{opacity:1;-webkit-transform:scale(1.05);}
70%{-webkit-transform:scale(0.9);}
100%{-webkit-transform:scale(1);}
}
@-moz-keyframes bounceIn{0%{opacity:0;-moz-transform:scale(0.3);}
50%{opacity:1;-moz-transform:scale(1.05);}
70%{-moz-transform:scale(0.9);}
100%{-moz-transform:scale(1);}
}
@-ms-keyframes bounceIn{0%{opacity:0;-ms-transform:scale(0.3);}
50%{opacity:1;-ms-transform:scale(1.05);}
70%{-ms-transform:scale(0.9);}
100%{-ms-transform:scale(1);}
}
@-o-keyframes bounceIn{0%{opacity:0;-o-transform:scale(0.3);}
50%{opacity:1;-o-transform:scale(1.05);}
70%{-o-transform:scale(0.9);}
100%{-o-transform:scale(1);}
}
@keyframes bounceIn{0%{opacity:0;transform:scale(0.3);}
50%{opacity:1;transform:scale(1.05);}
70%{transform:scale(0.9);}
100%{transform:scale(1);}
}
.animated.bounceIn{-webkit-animation-name:bounceIn;-moz-animation-name:bounceIn;animation-name:bounceIn;}
@-webkit-keyframes progress{0%{background-position:0 0;}
100%{background-position:30px 0;}
}
@-moz-keyframes progress{0%{background-position:0 0;}
100%{background-position:30px 0;}
}
@-ms-keyframes progress{0%{background-position:0 0;}
100%{background-position:30px 0;}
}
@-o-keyframes progress{0%{background-position:0 0;}
100%{background-position:30px 0;}
}
@keyframes progress{0%{background-position:0 0;}
100%{background-position:30px 0;}
}
.m-faq{padding:20px;}
.m-faq .itm .tlt{padding:0 0 16px 20px;height:30px;line-height:30px;font-size:16px;color:#333;font-weight:bold;}
.m-faq .itm .subtlt{padding:0px 0 24px 150px;margin-top:-39px;font-size:14px;color:#333;}
.m-faq .itm .wrap{padding:0 0 30px;color:#666;}
.m-faq .itm .faq{padding:21px 0 27px;line-height:23px;border-top:1px solid #f0f0f0;}
.m-faq .itm .question{padding:0 20px;font-weight:bold;font-size:14px;color:#333;}
.m-faq .itm .answer{padding:3px 20px 0 20px;color:#808080;}
.m-faq .itm,.m-faq .subitm{display:none;}
.m-faq .z-cur,.m-faq .itm .z-subcur{display:block;}
.m-dt{z-index:100;}
.m-menu{width:322px;position:absolute;height:45px;bottom:0px;zoom:1;}
.m-menu:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-menu .u-menu:hover>.close,.m-menu .m-menu .close:hover{display:block;}
.m-menu .u-menu li:hover>.close{display:block;}
.m-menu .drag .close,.m-menu .drag .close:hover{display:none !important;}
.m-menu .close{display:none;position:absolute;font-weight:bold;cursor:pointer;right:1px;top:1px;width:12px;height:12px;line-height:12px;text-align:center;font-size:10px;color:#fff;background-color:#aaa;}
.m-menu .close:hover{background-color:#df1900;}
.m-menu >.u-menu{float:left;margin-top:-1px;margin-left:-1px;width:90%;}
.m-menu >.u-menu:first-child{margin-left:1px;}
.m-menu-2>.u-menu{width:45%;}
.m-menu-3>.u-menu{width:30%;}
.m-menu-4>.u-menu{width:25%;}
.m-menu >.u-menu-2{width:10%;}
.m-menu .u-drag{opacity:0.3;filter:alpha(opacity = 30);position:absolute;z-index:1000;background:#ccc;left:0;}
.m-menu .u-drag a{cursor:move;}
.m-menu li.z-current>a{-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;transition:background-color 0.3s;background-color:#71b8f1;color:#fff;}
.u-menu{position:relative;background-color:#fff;}
.u-menu a{display:block;text-align:center;border:1px solid #e8e9eb;color:#666;height:43px;line-height:43px;font-size:12px;font-family:simsun;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.u-menu a .plus{font-size:28px;color:#999;}
.u-menu ul{box-shadow:0px 1px 2px #ddd;min-width:120px;left:-10%;}
.u-menu ul a{border:none;border-bottom:1px solid #e8e9eb;}
.u-menu-3 a{height:31px;line-height:31px;}
.u-menu-icon a.pmenu:before{content:"▲";font-size:10px;color:#aaa;font-family:arial;}
.u-menu-icon.z-show a.pmenu:before{content:"▼";font-size:10px;color:#aaa;font-family:arial;}
.u-menu-icon.z-show.z-current a.pmenu:before{color:#fff;}
.m-smenu ul{display:block;width:100%;position:absolute;bottom:60px;box-shadow:0 0 1px 0 #666;display:none;right:0;-webkit-animation:fadeInY2 0.4s;-moz-animation:fadeInY2 0.4s;animation:fadeInY2 0.4s;}
.m-smenu ul:after{content:"▼";position:absolute;bottom:-10px;left:50%;margin-left:-7px;color:#fff;font-size:14px;text-shadow:0 1px 1px #999;}
.m-smenu.z-show ul{display:block;}
.m-smenu li{position:relative;width:100%;background-color:#fff;}
.m-smenu li a{height:32px;line-height:32px;font-size:12px;}
@-webkit-keyframes fadeInY2{0%{opacity:0;-webkit-transform:translateY(10px);}
100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeInY2{0%{opacity:0;-moz-transform:translateY(10px);}
100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadeInY2{0%{opacity:0;-ms-transform:translateY(10px);}
100%{opacity:1;-ms-transform:translateY(0);}
}
@-o-keyframes fadeInY2{0%{opacity:0;-o-transform:translateY(10px);}
100%{opacity:1;-o-transform:translateY(0);}
}
@keyframes fadeInY2{0%{opacity:0;transform:translateY(10px);}
100%{opacity:1;transform:translateY(0);}
}
.animated.fadeInY2{-webkit-animation-name:fadeInY2;-moz-animation-name:fadeInY2;animation-name:fadeInY2;}
.m-schRecord{border:1px solid #ddd;}
.m-schRecord .tltbar{position:relative;height:45px;line-height:45px;font-weight:bold;background-color:#f5f5f5;border-bottom:1px solid #ddd;}
.m-schRecord .tltbar .tlt{padding-left:10px;}
.m-schRecord .tltbar .toggle{position:absolute;right:0;top:0;padding:0 15px;height:45px;cursor:pointer;background-color:#fff;border-left:1px solid #ddd;}
.m-schRecord .schform{padding:10px;position:relative;}
.m-schRecord .schform .optbar{float:left;line-height:40px;}
.m-schRecord .schform .optbar button{margin-right:10px;}
.m-schRecord .schform .fmitm{padding:5px 0;line-height:30px;margin-right:15px;}
.m-schRecord .schform .lab{float:left;padding-right:10px;}
.m-schRecord .schform .u-date{position:relative;}
.m-schRecord .schform .datepick{width:120px;background-position:130px -1277px;}
.m-schRecord .m-list{padding:10px;}
.m-schRecord.z-toggle .schform,.m-schRecord.z-toggle .listwrap{display:none;}
.m-paybankpick{padding:10px;border:solid 1px #74b9ef;margin-top:4px;box-shadow:1px 3px 3px #ccc;}
.m-paybankpick h2{line-height:40px;font-size:12px;font-weight:bold;color:#666;border-bottom:1px solid #dcdcdc;}
.m-paybankpick ul{width:485px;background:#fff;}
.m-paybankpick li{width:160px;height:36px;display:block;float:left;}
.m-paybankpick li a{position:relative;display:block;padding:0px 4px;font-size:12px;height:36px;background:#fff;overflow:hidden;}
.m-paybankpick li a img{float:left;display:block;margin:6px 8px 0px 0px;width:24px;height:24px;}
.m-paybankpick li a span{height:36px;line-height:36px;}
.m-paybankpick li a:hover{background:#cfe0f5;z-index:5000;}
.m-hdnote{background:#fafafa;padding:26px;margin:10px 0;}
.m-hdnote h1{font-size:16px;margin-bottom:20px;}
.m-hdnote li{margin:4px;list-style:disc;line-height:1.3em;margin-left:20px;}
.m-hdpg{font-size:18px;text-align:center;color:#222;margin-top:44px;}
