.m-list .list .item{zoom:1;}
.m-list .list .item:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-nav{background:#fff;border-right:1px solid #ddd;}
.m-nav .tt{height:50px;background-color:#00f;}
.m-nav .nav li{line-height:48px;font-size:18px;}
.m-nav .nav li.z-crt{background-color:#bdc3c7;color:#fff;}
.m-list .col{position:relative;float:right;padding:0 10px;min-height:10px;}
.m-list .col-lt{float:left;}
.m-list .col-at{float:none;overflow:hidden;}
.m-list .col-w1{width:100px;}
.m-list .col-w2{width:55px;}
.m-list .col-w3{width:175px;}
.m-list .col-w4{width:80px;}
.m-list .col-w5{width:110px;}
.m-list .col-w6{width:90px;}
.m-list .col-w7{width:75px;}
.m-list .col-w8{width:150px;}
.m-list .col-w9{width:220px;}
.m-list .col-w10{width:30px;}
.m-list .col-w11{width:160px;}
.m-list .col-w12{width:120px;}
.m-list .head{overflow:hidden;border-top:1px solid #ccc;margin:0 0 10px;}
.m-list .head .headwrap{margin-left:-1px;}
.m-list .head .col{padding-top:10px;}
.m-list .head .col:before{position:absolute;top:0;left:0;width:1px;height:9px;content:"";background:#ccc;}
.m-list .list{line-height:1.8;}
.m-list .list .item{position:relative;padding:20px 0;border-top:1px solid #ddd;}
.m-list .list .item:first-child{border-top:0;}
.m-list .list .item:hover{z-index:4;background:#f8f8f8;}
.m-list .list .item.z-hover{z-index:5;}
.m-list .list .item-1{padding:15px 0;}
.m-list .list .u-ticon{color:#999;font-size:18px;margin-right:10px;}
.m-list .list .u-ticon:hover{color:#333;}
div.m-page{line-height:22px;margin:20px 0;text-align:right;line-height:20px;font-size:0;word-wrap:normal;white-space:nowrap;font-family:arial,"simsun";color:#999;}
div.m-page a{letter-spacing:-0.307em;}
div.m-page span + a{border-left:1px solid #ddd;}
div.m-page .zdot{width:20px;height:20px;line-height:16px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
div.m-page a,div.m-page .zdot{position:relative;display:inline-block;*display:inline;*zoom:1;margin:0;font-size:12px;letter-spacing:normal;vertical-align:middle;}
div.m-page a{border:1px solid #ddd;color:#999;border-left:none;text-align:center;padding:0px;width:21px;height:20px;line-height:20px;}
div.m-page a:hover{color:#666;}
div.m-page a.js-selected,div.m-page a.js-selected:hover{cursor:default;color:#fff;background:#78d0c2;border-color:#78d0c2;}
div.m-page a.zbtn{font-family:"simsun",arial;color:#999;background:#ddd;}
div.m-page a.zbtn:hover{background:#aaa;border-color:#aaa;color:#fff;}
div.m-page a.zbtn.js-disabled,div.m-page a.zbtn.js-disabled:hover{cursor:default;color:#999;border-color:#ddd;background:#fff;}
div.m-page a.zbtn.zprv{border-left:1px solid #ddd;}
div.m-page >div{-webkit-animation:opacityshow 0.5s;-moz-animation:opacityshow 0.5s;animation:opacityshow 0.5s;}
div.m-page .search{display:inline-block;margin-left:20px;}
div.m-page .search .u-ipt{display:inline-block;width:26px;margin:0 4px;padding:4px 4px;vertical-align:middle;height:12px;font-size:12px;text-align:center;}
