.m-header,.m-header .person,.m-list .list .item,.m-form .iptwrap,.m-questions,.m-questions .rightBar ul{zoom:1;}
.m-header:after,.m-header .person:after,.m-list .list .item:after,.m-form .iptwrap:after,.m-questions:after,.m-questions .rightBar ul:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-app{background:#fff;border:solid 1px #ddd;padding:20px;}
.m-header{z-index:1;height:100px;position:relative;background-color:#fff;border-bottom:1px solid #ccc;zoom:1;}
.m-header .person{float:right;display:inline;font-size:14px;padding:45px 0 0;zoom:1;}
.m-header .person .item{padding:0 8px;float:left;}
.m-header .userinfo{display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;}
.m-header .userinfo a{color:#00b589;}
.m-header .userinfo .sep{display:inline-block;margin:0 10px;}
.m-logo{float:left;padding:10px 30px 0;}
.m-logo a{display:block;width:250px;height:55px;padding:25px 0 0 90px;color:#00b58a;line-height:30px;font-size:22px;background:url("/images/logo.png") no-repeat;}
.m-nav{padding-left:0px;}
.m-nav li{list-style-type:none;position:relative;}
.m-nav li a{background-color:#383838;color:#95a0aa;font-size:16px;display:block;padding-left:30px;padding-right:20px;height:54px;line-height:54px;}
.m-nav li a:hover{background-color:#303030;color:#f6f6f6;}
.m-nav li a:active{background-color:#404040;}
.m-nav li .u-sep{position:absolute;right:10px;font-weight:bold;font-size:20px;}
.m-nav li.z-cur a{color:#00b589;cursor:default;background-color:#f1f1f1;}
.m-list{width:100%;min-width:500px;}
.m-list .col{position:relative;float:right;padding:0 10px;min-height:10px;text-align:center;}
.m-list .col-lt{float:left;}
.m-list .col-at{float:none;overflow:hidden;}
.m-list .col-p1{width:10%;}
.m-list .col-p2{width:20%;}
.m-list .col-p3{width:30%;}
.m-list .head{overflow:hidden;border-top:1px solid #ccc;margin:0 0 10px;}
.m-list .head .headwrap{margin-left:-1px;}
.m-list .head .col{padding-top:10px;}
.m-list .head .col:before{position:absolute;top:0;left:0;width:1px;height:9px;content:"";background:#ccc;}
.m-list .list{line-height:1.8;}
.m-list .list .item{position:relative;padding:20px 0;border-top:1px solid #ddd;}
.m-list .list .item:first-child{border-top:0;}
.m-list .list .item:hover{z-index:4;background:#f8f8f8;}
.m-list .list .item.z-hover{z-index:5;}
.m-list .list .item-1{padding:15px 0;}
.m-list .list .u-ticon{color:#999;font-size:18px;margin-right:10px;}
.m-list .list .u-ticon:hover{color:#333;}
.m-list .list div:nth-child(2n+1) li{background:#f6f6f6;}
div.m-page{line-height:22px;margin:20px 0;text-align:right;line-height:20px;font-size:0;word-wrap:normal;white-space:nowrap;font-family:arial,"simsun";color:#999;}
div.m-page a{letter-spacing:-0.307em;}
div.m-page span + a{border-left:1px solid #ddd;}
div.m-page .zdot{width:20px;height:20px;line-height:16px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
div.m-page a,div.m-page .zdot{position:relative;display:inline-block;*display:inline;*zoom:1;margin:0;font-size:12px;letter-spacing:normal;vertical-align:middle;}
div.m-page a{border:1px solid #ddd;color:#999;border-left:none;text-align:center;padding:0px;width:21px;height:20px;line-height:20px;}
div.m-page a:hover{color:#666;}
div.m-page a.js-selected,div.m-page a.js-selected:hover{cursor:default;color:#fff;background:#78d0c2;border-color:#78d0c2;}
div.m-page a.zbtn{font-family:"simsun",arial;color:#999;background:#ddd;}
div.m-page a.zbtn:hover{background:#aaa;border-color:#aaa;color:#fff;}
div.m-page a.zbtn.js-disabled,div.m-page a.zbtn.js-disabled:hover{cursor:default;color:#999;border-color:#ddd;background:#fff;}
div.m-page a.zbtn.zprv{border-left:1px solid #ddd;}
div.m-page >div{-webkit-animation:opacityshow 0.5s;-moz-animation:opacityshow 0.5s;animation:opacityshow 0.5s;}
div.m-page .search{display:inline-block;margin-left:20px;}
div.m-page .search .u-ipt{display:inline-block;width:26px;margin:0 4px;padding:4px 4px;vertical-align:middle;height:12px;font-size:12px;text-align:center;}
.m-subnav{height:57px;border-bottom:1px solid #ddd;}
.m-subnav ul{float:left;margin-left:20px;}
.m-subnav li{position:relative;float:left;}
.m-subnav li a{float:left;line-height:53px;padding:0 20px;text-align:center;background:#fff;color:#666;border-bottom:4px solid #fff;}
.m-subnav li a:hover{background:#fbfbfb;border-color:#fbfbfb;}
.m-subnav li.z-crt a{position:relative;background:#fbfbfb;border-color:#7cafdb;}
.m-subnav li.z-crt a:hover{cursor:default;}
.m-subnav .edit{float:right;margin:13px 20px 0 0;}
.m-subnav .edit-2{margin-right:2px;}
.m-form{font-family:arial,"simsun";white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-form .fmgroup{padding:20px 0 20px 26px;border-top:2px solid #ddd;}
.m-form .fmgroup:first-child{border-top:0;}
.m-form fieldset{margin:0 0 20px;padding:1px 0 0;}
.m-form legend{padding:0 0 20px;font-weight:bold;line-height:18px;}
.m-form table{width:100%;}
.m-form th,.m-form td{padding:6px 0;}
.m-form th{width:176px;line-height:30px;vertical-align:top;}
.m-form select{margin-right:10px;}
.m-form input[type=checkbox],.m-form input[type=radio]{margin-right:5px;}
.m-form .tip{margin-left:30px;line-height:20px;color:#999;}
.m-form .btnarea{padding-top:20px;}
.m-form .btnarea .u-btn{margin-right:15px;}
.m-form .iptwrap .tip{float:left;}
.m-form .iptwrap-upload{padding-top:4px;}
.m-form .iptarea{float:left;width:270px;}
.m-form .add{display:inline-block;border:1px dashed #ccc;padding:2px 10px;margin-left:30px;background-color:#ddd;}
.m-form .del{display:inline-block;margin-left:5px;width:20px;height:20px;vertical-align:middle;background:url("/images/ico-tip.png") no-repeat;background-position:0px -42px;background-size:100%;}
.m-questions .rightBar{border:1px solid #ddd;border-top:none;padding-bottom:30px;}
.m-questions .rightBar .title{width:100%;height:40px;line-height:40px;font-size:18px;text-align:center;border-bottom:1px solid #ddd;}
.m-questions .rightBar ul{padding-top:10px;width:100%;margin:auto;}
.m-questions .rightBar ul li{float:left;margin-left:5px;margin-bottom:5px;}
.m-questions .rightBar .box{display:inline-block;width:30px;height:30px;border:1px solid #ddd;line-height:30px;text-align:center;font-size:12px;color:#666;cursor:pointer;}
.m-questions .rightBar .box.crt{cursor:default;color:#fff;background:#78d0c2;border-color:#78d0c2;}
.m-questions .rightBar .operate{width:100%;margin-top:10px;text-align:center;}
.m-questions .rightBar .operate .btn{margin-top:5px;}
.m-questions .view{padding:20px;}
.m-questions .view h2{font-size:24px;line-height:40px;font-family:"arial";}
.m-questions .view p{font-size:16px;line-height:30px;font-family:"arial";}
.m-questions .view .cell{text-indent:18px;}
.m-questions .view .answer{margin-top:20px;}
.m-questions .view .btns{margin-top:50px;}
.m-questions .view .btns a{margin-left:10px;}
.m-layer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);}
.m-layer>table{table-layout:fixed;width:100%;height:100%;}
.m-layer>table>tbody>tr>td{vertical-align:middle;}
.m-layer .lywrap{position:relative;width:400px;margin:0 auto;border:5px solid rgba(0,0,0,0.3);border-radius:10px;box-shadow:0 2px 10px rgba(0,0,0,0.2);}
.m-layer .lytt{position:relative;padding:10px;height:20px;margin:0 0 -1px;line-height:20px;border-bottom:1px solid #ddd;border-radius:5px 5px 0 0;background:#fafafa;}
.m-layer .lytt h2{float:left;font-size:16px;}
.m-layer .lyclose{float:right;font-weight:bold;font-family:arial;font-size:24px;color:#ccc;text-shadow:0 1px #fff;cursor:pointer;}
.m-layer .lyclose:hover{color:#aaa;}
.m-layer .lyct:last-child,.m-layer .lybt{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.m-layer .lyct:first-child{border-top-left-radius:5px;border-top-right-radius:5px;}
.m-layer .lyct{padding:20px;background:#fff;max-height:200px;overflow-y:scroll;}
.m-layer .lyct p{line-height:20px;font-size:14px;}
.m-layer .lyct p input{margin-right:10px;}
.m-layer .lybt{height:30px;line-height:30px;padding:10px;margin:-1px 0 0;border-top:1px solid #ddd;background:#f7f7f7;}
.m-layer .lyother{float:left;color:#999;}
.m-layer .lybtns{float:right;}
.m-layer .lybtns button{float:left;margin-left:10px;}
