.f-cb,.f-cbli li{zoom:1;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-ff1{font-family:"STHeitiSC-Light","STHeiti","microsoft yahei","Open Sans","Helvetica Neue",arial,"simsun";}
.f-fs0{font-size:12px;}
.f-fs1{font-size:14px;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.f-prz{position:relative;zoom:1;}
.f-dn{display:none;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-fwb{font-weight:bold;}
.f-fwn{font-weight:normal;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-du,.f-du:hover{text-decoration:underline;}
.f-mgT{margin-top:30px;}
