<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>新增试卷</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd">
    <% include ../common/nav.html %>  
    <div class="g-mn">
        <div class="g-mnc"> 
            <div class ="m-app" id ="app">
            </div>  
        </div>
    </div>
</div>
<script id="main" type="text/regular">
        <div id="basic" class="m-form">
            <div class="fmgroup">
                <table>
                    <tr>
                        <th>试卷名称</th>
                        <td>
                            <input class="u-ipt" type="text" name="nick" r-model={name}>
                        </td>
                    </tr>
                     <tr>
                        <th>试卷描述</th>
                        <td>
                            <textarea class="u-ipt" type="text" name="nick"  r-model={desc}></textarea> 
                        </td>
                    </tr>
                    <tr>
                        <th>试卷类别</th>
                        <td>
                            <select r-model={type} on-change={this.changeType()}>
                                <option value=-1>请选择</option>
                                <option value=0>{0|transType}</option>
                                <option value=1>{1|transType}</option>
                                <option value=2>{2|transType}</option>
                                <option value=3>{3|transType}</option>
                                <option value=4>{4|transType}</option>
                                <option value=5>{5|transType}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>考试时间</th>
                        <td>
                            <select r-model ={time}>
                                <option value= 30 >30</option>
                                <option value= 30 >45</option>
                                <option value= 60 >60</option>
                                <option value= 90 >90</option>
                                <option value= 120 >120</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><a class="u-btn u-btn-s1" {#if type!=-1}on-click={show = 1}{/if} r-class={{"u-btn-dis":type==-1}}>添加题库</a></th>
                        <td>
                            {#if selectBank.length ==0}
                                <span>未选择题库</span>
                            {#else}
                                {#list selectBank as x}
                                    <span>{x.name},</span>
                                {/list}
                            {/if}
                        </td>
                    </tr>
                     <tr>
                    <th>题目数量（0～{max}）</th>
                        <td>
                            <input class="u-ipt u-ipt-1" type="number" r-model={total} r-class={{"u-ipt-err":total>max}}>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fmgroup">
                <div class="btnarea">
                    <a class="u-btn" on-click={this.savePaper()}>保存</a>
                    <a class="u-btn" href="/paper">返回</a>        
                </div>
            </div>
        </div>
        <div class="m-layer" r-class={{'f-dn':show ===0}}>
        <table><tbody><tr><td>
            <article class="lywrap">
                <header class="lytt"><h2 class="u-tt">选择题库</h2><span class="lyclose" on-click ={show = 0 }>×</span></header>
                <section class="lyct">
                    {#list bank as cell}
                        {#if cell.type == type}
                            <p>
                                <input type="checkbox" r-model={select[cell_index]} on-click={this.addBank(select[cell_index],cell)}>
                                {cell.name}
                            </p>
                        {/if}
                    {/list}
                </section>
                <footer class="lybt">
                    <div class="lyother">
                        <p>(￣ c￣)y▂ξ</p>
                    </div>
                    <div class="lybtns">
                        <button type="button" class="u-btn" on-click ={this.saveBank()}>确定</button>
                        <button type="button" class="u-btn u-btn-c4" on-click ={show = 0 }>取消</button>
                    </div>
                </footer>
            </article>
        </td></tr></tbody></table>
</div>

</script>
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>teacher/addPaper.js"></script>
</body>
</html>