<html>
<head>
  <meta charset="utf-8">
  <title>题目列表啦</title>
  <% include ../common/css.html %>
</head>
<body>
<div class="g-bd f-cb">
    <% include ../common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc">
                <div class="m-status">
                   <a class="u-btn">新增题库</a>
                </div>
                <div class="m-list f-mgT"> 
                  <div class="head">
                    <div class="headwrap">
                        <div class="col col-w2">操作</div>
                        <div class="col col-w1">发送对象</div>
                        <div class="col col-w2">时间</div>
                        <div class="col col-w2">状态</div>
                        <div class="col col-at">消息</div>
                    </div>
                  </div>
                <ul class="list j-list">
                    <li class="item">
                        <div class="col col-w2">操作</div>
                        <div class="col col-w1">发送对象</div>
                        <div class="col col-w2">时间</div>
                        <div class="col col-w2">状态</div>
                        <div class="col col-at">消息</div>
                    </li>
                    <li class="item">
                        <div class="col col-w2">操作</div>
                        <div class="col col-w1">发送对象</div>
                        <div class="col col-w2">时间</div>
                        <div class="col col-w2">状态</div>
                        <div class="col col-at">消息</div>
                    </li>
                    <li class="item">
                        <div class="col col-w2">操作</div>
                        <div class="col col-w1">发送对象</div>
                        <div class="col col-w2">时间</div>
                        <div class="col col-w2">状态</div>
                        <div class="col col-at">消息</div>
                    </li>            
                </ul>
                <!-- <div class="m-page"></div> -->
                <div id="contact-list-page2" class="m-page auto-1426265116300-parent"><div class="auto-1426265116300"><a href="#" class="zbtn zprv js-disabled" id="auto-id-1426265116427">&lt;</a><a href="#" class="zpgi zpg1 js-selected" id="auto-id-1426265116433">1</a><a href="#" class="zpgi zpg2" id="auto-id-1426265116435">2</a><a href="#" class="zpgi zpg3" id="auto-id-1426265116437">3</a><a href="#" class="zpgi zpg4" id="auto-id-1426265116439">4</a><a href="#" class="zpgi zpg5" id="auto-id-1426265116441" style="display: none;"></a><a href="#" class="zpgi zpg6" id="auto-id-1426265116443" style="display: none;"></a><a href="#" class="zpgi zpg7" id="auto-id-1426265116445" style="display: none;"></a><a href="#" class="zpgi zpg8" id="auto-id-1426265116447" style="display: none;"></a><a href="#" class="zbtn znxt" id="auto-id-1426265116429">&gt;</a></div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>