
<div class="g-sd">
    <ul class="m-nav">
       <% navList[userType].forEach(function (v, k){ %>
             <li <% if(pageName == v.pageName){%> class="z-cur"<%}%>>
                <a href="/<%=v.pageName%>"><%=v.title%><span class="u-sep">&gt;</span></a>
            </li>
             <% }) %>
    </ul>
</div>

<!-- <div class="g-sd">
    <ul class="m-nav">
        <% if(userType==0){%>
            <li <% if(pageName=="index"){%> class="z-cur"  <%}%>>
                <a href="/teacher/main}">首页 <span class="u-sep">&gt;</span></a>
            </li>
            <li <% if(pageName=="bank"){%> class="z-cur"  <%}%>>
                <a href="/teacher/${pageName}">用户管理<span class="u-sep">&gt;</span></a>

            </li>
        <%}%>
        <% if(userType==1){%>
            <li <% if(pageName=="index"){%> class="z-cur"  <%}%>>
                <a href="/teacher/${pageName}">首页 <span class="u-sep">&gt;</span></a>
            </li>
            <li <% if(pageName=="bank"){%> class="z-cur"  <%}%>>
                <a href="/teacher/${pageName}">题库<span class="u-sep">&gt;</span></a>

            </li>
            <li <% if(pageName=="create"){%> class="z-cur"  <%}%>>
                <a href="/teacher/${pageName}">组卷 <span class="u-sep">&gt;</span></a>
            </li>
        <%}%>
        <% if(userType==2){%>
            <li class="z-crt">首页</li>
            <li>测试</li>
            <li>成绩统计</li>
        <%}%>
    </ul>
</div> -->