<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>题目列表啦</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd f-cb">
    <% include ../common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc m-app">
                <div class="m-status">
                    <select id="selectType">
                        <option value="all">全部</option>
                        <option value=0>数学</option>
                        <option value=1>英语</option>
                        <option value=2>体育</option>
                        <option value=3>物理</option>
                        <option value=4>计算机</option>
                        <option value=5>其他</option>
                    </select>
                </div>
                <div class="m-list f-mgT" id="container"> 
                  <div class="head">
                    <div class="headwrap">
                        <div class="col col-p2">操作</div>
                        <div class="col col-p1">题目数量</div>
                        <div class="col col-p2">创建时间</div>
                        <div class="col col-p2">类别</div>
                        <div class="col col-at">名称</div>
                    </div>
                  </div>
                <ul class="list j-list">
                </ul>
                <div class="m-page j-page"></div>
            </div>
        </div>
    </div>
</div>
<!-- @TEMPLATE -->
<textarea name="jst" id="jst-list" style="display: none">

<li class="item">
    <div class="col col-p2"><a class="j-modify">查看</a> </div>
    <div class="col col-p1">${question|getTotal}</div>
    <div class="col col-p2">${createtime|transTime}</div>
    <div class="col col-p2">${type|transType}</div>
    <div class="col col-at">${name}</div>
</li>

</textarea>
<!-- /@TEMPLATE -->
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>student/main.js"></script>
</body>
</html>