<% include ../common/config.html %>
<html>
<head>
  <meta charset="utf-8">
  <title>题目列表啦</title>
  <% include ../common/css.html %>
</head>
<body>
<% include ../common/head.html %>
<div class="g-bd f-cb">
    <% include ../common/nav.html %>
    <div class="g-mn">
        <div class="g-mnc">
            <div class="g-doc">
                <div class="m-status">
                   <a class="u-btn" href="/doTest">新增题库</a>
                </div>
                <div class="m-list f-mgT" id="container"> 
                  <div class="head">
                    <div class="headwrap">
                        <div class="col col-p2">操作</div>
                        <div class="col col-p1">题目数量</div>
                        <div class="col col-p2">创建时间</div>
                        <div class="col col-p2">类别</div>
                        <div class="col col-at">名称</div>
                    </div>
                  </div>
                <ul class="list j-list">
                </ul>
                <div class="m-page j-page"></div>
            </div>
        </div>
    </div>
</div>
<% include ../common/list.html %>
<!-- @DEFINE -->
<script src="<%=libRoot%>define.js?pro=<%=jsRoot%>"></script>
<script src="<%=jsRoot%>teacher/main.js"></script>
</body>
</html>